* {
    margin: 5px;
    border: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display:block;
    align-items: center;
}

.logo {
    padding-left: 18px;
    padding-top: 20px;
    display: inline-block;
}

.user {
    padding-top: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-top: 50px;
}

.Seach {
    padding-left: 60%;
}


 