* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        display: none;
    }
}
body {
    height: 1200px;
    width: 100vw;
    display: flex;
    align-items: center;
    .bannerIn{
        height: 100vh;
        width: 100vw;
        background-color: rgb(205, 205, 205);
        background-image:
        repeating-linear-gradient(
            to right, transparent 0 150px, rgba(0, 0, 0, 0.067) 150px 151px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 150px, rgba(0, 0, 0, 0.067) 150px 151px
        ),
        linear-gradient(to right, rgba(205, 205, 205, 0.8), rgba(205, 205, 205, 0.8)),
        url(./bg.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        .bannerOut {
           display: grid;
           align-items: center;
           justify-items: center;
            .product {
                height: 92vh;
                width: 25vw;
                transition: 0.7s;
                --left: 0px;
                display: flex;
                align-items: end;
                justify-content: center;
                transform: scale(0.8);
                z-index: 2;
                .soda {
                    cursor: pointer;
                    background: 
                    var(--url) var(--left) 0,
                    url('./mockup.png');
                    background-size: auto 100%;
                    width: 288px;
                    aspect-ratio: 2 / 4;
                    transition: 0.7s;
                    background-blend-mode: multiply;
                    mask-image: url('./mockup.png');
                    mask-size: auto 100%;
                    position: absolute;
                }
                .soda:nth-child(2) {
                    opacity: 0;
                }
            }
            .product:hover {
                --left: 1200px;
                transform: translateY(-50px) scale(0.8);
                .soda:nth-child(2) {
                    opacity: 1;
                }
            }
            .rock {
                background-image: url('./rock1.png');
                height: 200px;
                width: 600px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transform: scale(0.8);
                position: relative;
                bottom: 120px;
                z-index: 1;
                transition: 0.7s;
            }
        }
        .bannerOut:has(.product:hover) .rock{
            transform: translateY(50px) scale(0.8);

        }
    }
}

